*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.layout-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 15px;
}

.logo {
    width: 80px;
    height: auto;
}

.layout-1 input {
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;
}




/*
{
    box-sizing: border-box;
}

.Rubrik{
    margin-left: 10%;
    margin-top: 1%;
    font-size: large;
}

.layout-1{
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar{
    text-align: center;
}
*/