*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.layout-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 15px;
}

.layout-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: right;
    padding: 50px;
    gap: 10px;
}

.logo {
    width: 80px;
    height: auto;
}

.text1{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0%;
    margin-left: 2%;
    border: 1px solid rgb(29, 167, 205);
    font-size: large;
    margin-right: 60%;
}

.layout-1 input {
    display: grid;
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

}


/*
{
    box-sizing: border-box;
}

.Rubrik{
    margin-left: 10%;
    margin-top: 1%;
    font-size: large;
}

.layout-1{
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar{
    text-align: center;
}
*/