*{
    box-sizing: border-box;
}

.Rubrik{
    margin-left: 10%;
    margin-top: 1%;
    font-size: large;
}

.layout-1{
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
}

.searchbar{
    text-align: center;
}