*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.layout-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 15px;
}


.layout-1 input {
    display: grid;
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

}

.logo {
    width: 80px;
    height: auto;
}


.searchbar {
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;
}

.section {
    padding: 50px;
}

.section h2 {
    margin-bottom: 20px;
}

.prpr{
    border: 1px solid black;
}

.prpr2{
    border: 1px solid black;
}